/* 基本的なリセット */
* {
    margin: 0;
    padding: 0;
}


header {
    top: 0;
    z-index: 10;
    max-width: 100%;
    height: 110px;
    background-color: #00796b;
    margin-bottom: 25px;
}

.header-inner {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-inner * {
    color: white;
}
.header-inner h1 {
    margin: 0 30px;
    color: #004d40; /* 濃い緑青 */
    font-size: 2rem;
    margin-left: 20px; /* 左寄せ */
    color: white;
}
.header-inner a,
.other-site a {
    margin-left: 40px;
    text-decoration: none;
}
.header-inner a:hover,
.other-site a:hover {
    text-decoration: underline;
}
.other-site {
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-left: 2px solid white;
}


/* 全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa; /* 明るい青色 */
    color: #00796b; /* 濃い青緑 */
    display: flex;
    justify-content: flex-start; /* 左寄せ */
    flex-direction: column;
}

/* 問題と答えのセクション */
#que, #ans {
    background-color: #b2ebf2; /* 淡い青 */
    padding: 20px;
    margin: 25px 20px;
    border-radius: 8px;
    width: auto; /* 幅を自動で調整 */
}

#question, #answer, #guide {
    min-height: 60px;
    margin: 20px;
}

#guide {
    display: none;
}

.preview {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.preview * {
    font-size: 1.8rem;
}


/* サブ見出し */
h2 {
    color: #004d40;
    font-size: 2rem;
}

/* 問題と答えの文字 */
strong p {
    font-size: 1.8rem;
    color: #00796b;
}

/* ボタン */
button {
    background-color: #00796b; /* ボタンの背景色: 濃い青緑 */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 20px;
}

button:hover {
    background-color: #004d40; /* ホバー時の背景色 */
}

.toggle-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    box-sizing: content-box;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color .4s;
}

span#formula {
    color: #ff8d8daa;
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
}
.toggle-button:not(:has(:checked)) + span#formula {
    color: #ff8d8d;
    font-weight: bold;
    transform: scale(1.1);
}
span#factorization {
    color: #75bbffaa;
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
}
.toggle-button:has(:checked) ~ span#factorization {
    color: #75bbff;
    font-weight: bold;
    transform: scale(1.1);
}

.toggle-button::before {
    position: absolute;
    left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ff8d8d;
    content: '';
    transition: left .4s;
}

.toggle-button:has(:checked)::before {
    left: 30px;
    background-color: #75bbff;
}

.toggle-button input {
    display: none;
}


.setting {
    margin: 20px;
    padding: 20px;
    border: 1px solid #00796b;
    border-radius: 10px;
}
.set-label {
    margin-bottom: 20px;
}
.input {
    margin: 60px 0;
}
.input label, .input span {
    font-size: 24px;
}
.toggle-button-1 {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #dddddd;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle-button-1:has(:checked) {
    background-color: #4bd865;
}

.toggle-button-1::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: #fff;
    content: '';
    transition: left .4s;
}

.toggle-button-1:has(:checked)::after {
    left: 30px;
}

.toggle-button-1 input {
    display: none;
}

#toggle-label {
    transition: all 0.4s ease;
    color: #aaa;
    cursor: pointer;
}
.toggle-button-1:has(:checked) + #toggle-label {
    color: #4bd865;
    transform: scale(1.2);
}